<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Springboot</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    </head>
    <body>
        <div th:replace="~{block/header::headerA}"></div>

        <h1 th:text="${title}"></h1>

        <section th:object="${selectedQuiz}" class="section">
            <p th:text="${isCorrect} ? '正解です' : '残念。。。。不正解です'" class="has-text-centered"></p>
        </section>
        <section>
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <a class="button is-primary is-fullwidth" th:href="@{/quiz/question}">
                        次の問題
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>