<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Springboot</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    </head>
    <body>
        <h1 th:text="${title}"></h1>

        <section th:object="${selectedQuiz}" class="section">
            <div th:text="${isCorrect} ? '正解です' : '残念。。。。不正解です'"></div>
        </section>

        <div class="">
            <a th:href="@{/quiz}" class="button">戻る</a>
        </div>
    </body>
</html>