<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Top Page</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    </head>
    <body>
        <section class="section box">
            <div class="columns">
                <div class="column">
                    <p class="has-text-centered is-size-3">大クイズ大会</p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <a class="button is-primary is-fullwidth" th:href="@{/quiz/question}">
                        クイズに挑戦
                    </a>
                </div>
            </div>

            <div class="columns is-centered">
                <div class="column is-one-quarter">
                    <a class="button is-info is-fullwidth" th:href="@{/quiz/list}">
                        問題一覧
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>